@model Consultation
@{
    Layout = "_AssistantLayout";
    Consultation cons = ViewBag.cons;
    int drId = ViewBag.drId;
}
<h2 style="margin-top:50px;">@cons.Title</h2>
<h5> @cons.Type in @cons.DateCons</h5>
<h3><b>Patient's name:</b> @cons.Patient.fname @cons.Patient.mname  @cons.Patient.lname</h3>

<br />
<form asp-action="UpdateConsultation" class="form-group">
    <input type="hidden" asp-for="PatientId" value="@cons.PatientId" />

    <input type="hidden" asp-for="DoctorId" value="@cons.DoctorId" />

    <input type="hidden" asp-for="Id" value="@cons.Id" />
    <input type="hidden" asp-for="Title" value="@cons.Title" />
    <input type="hidden" asp-for="DateCons" value="@cons.DateCons" />
    <input type="hidden" asp-for="Type" value="@cons.Type" />
    <input type="hidden" asp-for="Cost" value="@cons.Cost" />
    <div>
        <h6>Symptoms:</h6>
        <p>
            <input  asp-for="Symptoms" value="@cons.Symptoms" class="form-control col-6">
        </p>
        <hr />
        <h6>Diagnosis:</h6>
        <p>
            <input  asp-for="Diagnoses" value="@cons.Diagnoses" class="form-control col-6">

        </p>
        <hr />
        <h6>Temparture:</h6>
        <p>
            <input  asp-for="Temp" value="@cons.Temp" class="form-control col-6">

        </p>
        <hr />
        <h6>Blood Pressure:</h6>
        <p>
            <input  asp-for="BloodPressure" value="@cons.BloodPressure" class="form-control col-6">

        </p>
        <hr />
        <h6>Cost:</h6>
        <p>
            @cons.Cost
        </p>
        <hr />
        <h6>Treatment:</h6>
        <p>
            <input  asp-for="Treatment" value="@cons.Treatment" class="form-control col-6">
        </p>
        <hr />
        <h6>Insurance Confirmation</h6>
        <p>@cons.Insurance_Confirmation</p>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>